.restoCard {
    /*height: 1%;*/
    width: 80%;
    background-color: #FDF6EC;
    color: #565656;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.restButton {
    margin-left: 60%;
    right: 0;
    position: absolute !important;
    margin-right: 15%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.error{
    color: red;
}

.crearRestoLabel{
    margin-top: 2%;
}

.romboTkm{
    text-align: center;
    align-self: center;
}

#seleect{
    margin-bottom: 5%;
    width: 30%;
}

.graph{
    float: left;
}
.centeral{
    text-align: -webkit-center;
}